wheel
discord
PyYAML
openai
tiktoken
numpy
beautifulsoup4
pytz
duckduckgo-search
langchain
langchain_openai
langchain_community
faiss-cpu
langchain-google-genai 
langchain-mistralai
langchain-anthropic
langchain-fireworks
langchain-groq